.div-main-general-section2 {
    display: flex;
    gap: 100px;

    &__div-text-2half {
        width: 390px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__div-text-1half {
        width: 390px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__div-text-osnova {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__div-text {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width:1200px) {
    .part2-section2 {
        width: 480px;
    }
}